[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
autopep8 = "*"
pycodestyle = "*"
pydocstyle = "*"
flask = "*"
sqlalchemy = "*"
flask-graphql = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-script = "*"
graphene-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
